table {
    border-collapse: collapse;
    width: 100%;

    tr:nth-child(even) {
        background-color: #f5f5f5;
    }
    th {
        padding: 14px;
        border: 1px solid #ccc;
        text-align: left;
        font-weight: bold;
        background-color: #eee;
    }
    td {
        padding: 8px;
        border: 1px solid #ccc;
        text-align: left;
    }
}